---
interface Props {
    shortDescription: string;
    fullDescription: string;
}

const { shortDescription, fullDescription } = Astro.props;

import buttonBackgroundImage from "@/assets/button-bg.svg";
import Character from "@/components/Character.astro";
import { getI18N } from "@/i18n";
const i18n = getI18N({ currentLocale: Astro.currentLocale });
---

<section class="bio box">
    <div class="bio-content">
        <h1>@doneber</h1>
        <div>
            <h3 class="short-description">
                {shortDescription}
            </h3>
            <Character messages={i18n.HOME.BIO.CHARACTER_MESSAGES} />
            <p class="bio-text">
                {fullDescription}
            </p>
        </div>

        <button
            class="contact-btn"
            style={{ "background-image": `url(${buttonBackgroundImage.src})` }}
            commandfor="contact-modal"
            command="show-modal"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><rect width="20" height="16" x="2" y="4" rx="2"></rect><path
                    d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path></svg
            >
            {i18n.HOME.BIO.CONTACT_ME}
        </button>
    </div>
    <div class="see-more">
        <a href="/about">{i18n.HOME.BIO.SEE_MORE}</a>
    </div>
</section>

<style>
    button {
        border: none;
        cursor: pointer;
    }
    h1 {
        transform: rotate(-0.2deg);
        font-size: 3rem;
        margin-bottom: 0;
    }
    .bio-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .short-description {
        font-size: 1.3rem;
        line-height: 1.4;
        margin-bottom: 1rem;
        max-width: 90%;
    }

    .bio-text {
        font-size: 1rem;
        line-height: 1.5;
        margin-bottom: 2rem;
        max-width: 90%;
        transform: rotate(-0.1deg);
    }

    .contact-btn {
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
        color: var(--bg-container);
        padding: 0.5rem 1rem;
        border-radius: 8px;
        text-decoration: none;
        font-weight: bold;
        transition: transform 0.1s;
        transform: rotate(0.5deg);
    }

    html.dark .contact-btn {
        filter: invert(0.95);
    }
    html.dark .contact-btn:hover {
        filter: invert(1);
        transform: scale(1.05);
    }

    a.contact-btn {
        background-size: cover;
    }

    .contact-btn:hover {
        transform: scale(1.05);
    }
</style>

<script>
    import gsap from "gsap";
    import { SplitText } from "gsap/SplitText";

    interface LineVariationOptions {
        selector: string;
        maxOffset?: number;
        minOffset?: number;
        verticalVariation?: number;
    }

    function applyLineVariation({ selector }: LineVariationOptions): void {
        const containers = document.querySelectorAll<HTMLElement>(selector);
        if (containers.length === 0) return;

        containers.forEach((container) => {
            let split = new SplitText(container, { type: "lines" });

            gsap.to(split.lines, {
                x: () => gsap.utils.random(0, 6),
                duration: 0,
            });
        });
    }

    document.addEventListener("astro:page-load", () => {
        applyLineVariation({
            selector: ".bio-text",
        });
    });
    document.addEventListener("astro:after-swap", () => {
        setTimeout(() => {
            applyLineVariation({
                selector: ".bio-text",
            });
        }, 100);
    });
</script>
