---
import type { CollectionEntry } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<Layout title={title} description={description}>

  <main>
    <article>
      <div class="hero-image">
        {heroImage && <img width='100%' height='auto' src={heroImage} alt="" />}
      </div>
      <div class="prose">
        <div class="title">
          <h1>{title}</h1>
          <div class="date">
            <FormattedDate date={pubDate} />
            {
              updatedDate && (
                <div class="last-updated-on">
                  Last updated on <FormattedDate date={updatedDate} />
                </div>
              )
            }
          </div>
          <hr />
        </div>
        <slot />
      </div>
    </article>
  </main>
</Layout>
